@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body{
    font-family: 'Dancing Script', cursive;
}
body{
    background-image: url(../images/texture1.jpg);
}
h1{
    font-size: 2.1rem;
    line-height: 1.4;
    letter-spacing: 0.5rem;
    text-align: center;
    margin-top: 50px;
    color: white;
}
.maindiv{
    width: 70%;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../images/chandelier1.jpg);
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px 5px white;
    animation: slider 50s infinite linear;

}
@keyframes slider{
    0%{background-image: url(../images/chandelier1.jpg);}
    20%{background-image: url(../images/hanging-1.jpg);}
    40%{background-image: url(../images/glass02.jpg);}
    60%{background-image: url(../images/Bangle1.jpg);}
    75%{background-image: url(../images/wallLight-1.jpg);}
    85%{background-image: url(../images/lamplight.jpg);}


}
