@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
    font-family: 'Dancing Script', cursive;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/image2.jpeg);
}
.container{
    background-color: white;
}
.header h1{
    padding: 20px;
    text-align: center;
}
.form{
    padding: 20px 30px;
}

.form-control1{
margin-bottom: 10px;
padding-bottom: 20px;
position: relative;
}

.form-control1 label{
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: olive;
}

.form-control1 input{
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    outline: none;
    border: 2px solid whitesmoke;
}
 .form-control1 i{
     position: absolute;
     right: 0.5px;
     top: 40px;
     visibility: hidden;
 }

 .form-control1 small{
     position: absolute;
     left: 0px;
     margin-top: 5px;
     visibility: hidden;
     color: crimson;
 }
 .form button{
     display: block;
     width: 50%;
     background-color: rgb(65, 20, 65);
     color: white;
     padding: 10px;
     outline: none;
     border: none;
     border-radius: 5px;
     text-align: center;
     margin-top: 5px;
     font-size: 20px;
 }

 .form-control1.success input{
     border-color: greenyellow;
 }
 .form-control1.success .fa-check-circle{
     visibility: visible;
     border-color: greenyellow;
 }

 .form-control1.error input{
     border-color: red;
 }
 .form-control1.error .fa-exclamation-circle{
     visibility: visible;
     background-color: red;
 }

 .form-control1.error small{
     visibility: visible;
     color: red;
 }
 .login{
     text-align: center;
     color: coral;
     margin-top: 15px;
     font-size: 25px;
 }
 .log{
     text-align: center;
     color: rgb(4, 4, 39);
     margin-top: 10px;
     font-size: 25px;
 }
 .log a{
     text-decoration: none;
     color:orange;
 }
  /* styling the button*/
  a { 
    padding: 10px 10px; 
    display: inline-block; 
    color: #def12a; 
    letter-spacing: 2px; 
    text-transform: uppercase; 
    text-decoration: none; 
    font-size: 1.25em; 
    overflow: hidden; 
} 

/*creating animation effect*/
a:hover { 
    color: #111; 
    background: salmon; 
    box-shadow: 0 0 50px salmon; 
} 